/* Add here all your CSS customizations */

@font-face { 
    font-family: 'NotoSansThai'; src: url("../fonts/subset-NotoSansThaiUI-Regular.woff2") format("woff2"), url("../fonts/subset-NotoSansThaiUI-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
    }
@font-face {
    font-family: 'NotoSans'; src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'fontawesome'; src: url("../font/FontAwesome.otf") format("otf"), url("../font/fontawesome-webfont.eot") format("eot"), url("../font/fontawesome-webfont.svg") format("svg"), url("../font/fontawesome-webfont.ttf") format("ttf"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; 
}

* { font-family: 'NotoSansThai',NotoSans,sans-serif ; }

.slider-container{
    position: relative;
}
.slider-container img{
    position: absolute;
}

.dr-e-from {
    font-family: 'sans-serif';
    font-size: 1rem;
}

.login-first{
    background-color: #fff;
    margin-top: 3em;
    padding: 2.5em 2.5em 0.1em 2.5em;
    border-radius: 5px;
}

.input-group-addon {
    padding: .8rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 .25rem .25rem 0;
}

.extra-actions {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}

.course-box{
    margin: 1em 0em;
}

.my-course{
    color: #0088cc;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.about-course{
    font-size: 1.2em;
}